<?xml version="1.0"?>
<launch>

  <!-- run image_capture node -->
  <node name="image_capture" pkg="cob_image_capture" type="image_capture.py" args="" output="screen">
    <rosparam param="cameras" file="$(find cob_calibration_config)/$(env ROBOT)/user_defined/cameras.yaml"/>

    <!-- set output folder -->
    <param name="output_folder" value="/tmp/cal/intrinsic" />
  </node>

  <!-- create tmp directory -->
  <param name="mkdir_tmp" command="mkdir -m 777 -p /tmp/cal/intrinsic" />

</launch>
