<?xml version="1.0"?>
<launch>

	<!-- run image_capture node -->
	<node name="image_capture" pkg="cob_image_capture" type="image_capture.py" args="" output="screen">
	    <!-- set to 1 camera -->
	    <param name="number_of_cameras" value="1" />
	    
	    <!-- configure cameras -->
	    <param name="camera0"	    value="/cam3d/rgb/image_color" />
	    <param name="file_prefix0"  value="kinect_" />

	    <!-- set output folder -->
	    <param name="output_folder" value="/tmp" />
	</node>

</launch>
