<?xml version="1.0"?>
<launch>

    <!-- run mono calibration on kinect -->
    <node type="mono_calibration.py" pkg="cob_camera_calibration" name="$(anon kinect_calibration)" output="screen">

        <param name="folder"        value="/tmp/cal/intrinsic" />
        <param name="pattern_size"  value="9x6" />
        <param name="square_size"   value="0.03" />

        <param name="image_prefix"  value="kinect" />
        <param name="camera_name"   value="rgb_A00366909204046A" /> <!-- cob3-3 -->
        <param name="frame_id"      value="/head_cam3d_link" />
        <param name="output_file"   value="$(find cob_calibration_data)/$(env ROBOT)/calibration/cameras/kinect_rgb.yaml" />

        <param name="alpha"         value="0.0" />
        <param name="verbose"       value="True" />

    </node>

</launch>
