<?xml version="1.0"?>
<launch>

    <!-- run stereo calibration of left and right camera -->
    <node type="publish_detections.py" pkg="cob_camera_calibration" name="publish_detections" output="screen">

        <rosparam param="calibration_pattern" file="$(find cob_calibration_config)/$(env ROBOT)/user_defined/calibration_pattern.yaml"/>

        <rosparam param="cameras" file="$(find
            cob_calibration_config)/$(env ROBOT)/user_defined/cameras.yaml"/>

    </node>

</launch>
