<?xml version="1.0"?>
<launch>

	<!-- send script_server parameters for calibration to parameter server -->
	<include file="$(find cob_calibration_capture)/launch/upload_params.launch"/>

   	<!-- run move_arm -->
	<node name="move_arm_calib" pkg="cob_calibration_capture" type="move_arm.py" args="hand_eye" respawn="false" output="screen"/>
	
</launch>
