<?xml version="1.0"?>
<launch>

	<!-- upload params -->
	<include file="$(find cob_calibration_executive)/launch/upload_params.launch"/>
	
	<!-- node that collects robot calibration data -->
  	<node type="collect_robot_calibration_data.py" pkg="cob_calibration_executive" name="$(anon collect_robot_calibration_data)" output="screen" />
	
</launch>
