<?xml version="1.0"?>
<launch>
    <include file="$(find cob_calibration_executive)/launch/chessboard_position.launch"/>

    <!-- run stereo calibration of left and right camera -->
    <node type="generate_positions.py" pkg="cob_calibration_executive" name="$(anon generate_calibration_positions)" output="screen"/>
    <param name="output_path" value="$(find cob_calibration_executive)/config/$(env ROBOT)/calibration_positions.yaml"/>
        
    
   </launch>
