
<!--
	The Calibration object can be changed as desired, however it must fulfill some conditions:
	- The calibration object must exist of three cylinders (small, medium and large) and one checkerboard.
	- The checkerboard has to be placed on top of the cylinders so that it is visible to the camera.
	- The cylinders have to be setup straight, so that they are standing.
	- The size of the cylinder radii must grow linearly, meaning, medium=2*small and large=3*small.
	- The centers of the cylinders must be positioned in an equilateral triangle.
	- When viewing the calibration object from above, the large cylinder must be at the bottom aligned on the y-axis with the center of the calibration object, the small cylinder on the left side and the medium cylinder on the right side.
	- The center of the triangle and the center of the checkerboard are aligned in the z-axis with the checkerboard orientated so that one of its short sides points towards the large cylinder.
-->

<robot name="calibration_object">

	<link name="checkerboard">
		<visual>
			<origin xyz="0 0 0.2025" />
			<geometry>
				<box size="0.4 0.3 0.005"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.2025" />
			<geometry>
				<box size="0.4 0.3 0.005"/>
			</geometry>
		</collision>
		<inertial>
			<origin xyz="0 0 0.2025" />
			<mass value="0.5" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
	<gazebo reference="checkerboard">
		<material>Gazebo/Black</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<joint name="cylinder_1_joint" type="fixed">
		<parent link="checkerboard" />
		<child link="cylinder_1" />
		<origin xyz="0 0 0" />
	</joint>

	<link name="cylinder_1">
		<visual>
			<origin xyz="0.1732 0 0.1" />
			<geometry>
				<cylinder length="0.2" radius="0.09" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="0.1732 0 0.1" />
			<geometry>
				<cylinder length="0.2" radius="0.09" />
			</geometry>
		</collision>
		<inertial>
			<origin xyz="0.1732 0 0.1" />
			<mass value="1" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
	<gazebo reference="cylinder_1">
		<material>Gazebo/Red</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<joint name="cylinder_2_joint" type="fixed">
		<parent link="checkerboard" />
		<child link="cylinder_2" />
		<origin xyz="0 0 0" />
	</joint>

	<link name="cylinder_2">
		<visual>
			<origin xyz="-0.1732 0.2 0.1" />
			<geometry>
				<cylinder length="0.2" radius="0.06" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.1732 0.2 0.1" />
			<geometry>
				<cylinder length="0.2" radius="0.06" />
			</geometry>
		</collision>
		<inertial>
			<origin xyz="-0.1732 0.2 0.1" />
			<mass value="1" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
	<gazebo reference="cylinder_2">
		<material>Gazebo/Green</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

	<joint name="cylinder_3_joint" type="fixed">
		<parent link="checkerboard" />
		<child link="cylinder_3" />
		<origin xyz="0 0 0" />
	</joint>

	<link name="cylinder_3">		
		<visual>
			<origin xyz="-0.1732 -0.2 0.1" />
			<geometry>
				<cylinder length="0.2" radius="0.03" />
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.1732 -0.2 0.1" />
			<geometry>
				<cylinder length="0.2" radius="0.03" />
			</geometry>
		</collision>
		<inertial>
			<origin xyz="-0.1732 -0.2 0.1" />
			<mass value="1" />
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
		</inertial>
	</link>
	<gazebo reference="cylinder_3">
		<material>Gazebo/Blue</material>
		<turnGravityOff>true</turnGravityOff>
	</gazebo>

</robot>
